@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url(/fonts/inter-var-latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@layer base {
  ::selection {
    @apply bg-indigo-500 text-white;
  }
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans text-black dark:text-white bg-white dark:bg-black;
  }

  button,
  input,
  select {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-black focus:ring-indigo-500;
  }
}

@layer components {
  .theme-switch {
    @apply transition-all duration-300 ease-out;
  }
  .root {
    @apply min-h-screen min-w-full;
  }
  .container {
    @apply max-w-2xl mx-auto px-4;
  }
  .content {
    min-height: calc(100vh - 100px);
  }
  .header {
    @apply flex items-center justify-between sticky top-0 z-50 bg-white dark:bg-black transition-all duration-300 ease-out;
  }
  .header nav {
    @apply self-stretch;
  }
  .header nav ul {
    @apply flex items-center;
  }
  .header nav li {
    @apply mr-4;
  }
  .header nav li a {
    @apply relative block text-sm sm:text-base  py-4 capitalize font-semibold text-gray-600 dark:text-gray-300;
  }
  .header nav li a:not(.active):hover {
    @apply text-black dark:text-white;
  }
  .header nav li a.active {
    @apply text-black dark:text-white;
  }
  .header nav li a.active:after {
    content: "";
    height: 3px;
    @apply absolute bottom-3 left-0 right-0 w-full rounded bg-indigo-500;
  }
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6,
  .prose p,
  .prose span,
  .prose code,
  .prose strong {
    @apply text-black dark:text-white;
  }
  .loader div {
    animation-duration: 0.7s;
  }
  .loader div:first-child {
    animation-delay: 0.1s;
  }
  .loader div:nth-child(2) {
    animation-delay: 0.3s;
  }
  .loader div:last-child {
    animation-delay: 0.6s;
  }
  .dropdown__button {
    @apply flex items-center pl-4 bg-white border border-gray-300 rounded-md appearance-none dark:border-gray-900 focus:ring-2 focus:ring-indigo-500 focus:outline-none dark:bg-gray-800 dark:text-gray-100;
  }
  .dropdown__button-caret {
    @apply w-2 h-2 m-4 pointer-events-none;
  }
  .dropdown__options {
    @apply absolute z-10 rounded-md right-0 min-w-[150px] py-1 mt-1 bg-white border-2  border-gray-300 shadow-lg max-h-60 overflow-auto dark:bg-black dark:border-gray-900 focus:outline-none focus:ring-offset-white dark:focus:ring-offset-black;
  }
  .dropdown__option {
    @apply min-w-full hover:text-white text-black dark:text-white cursor-pointer border-2 border-transparent flex items-center justify-between px-2 py-2 text-sm whitespace-nowrap;
  }
  .dropdown__option-check {
    @apply w-4 h-4 ml-4 text-black dark:text-white;
  }
  .dropdown__option-check-filler {
    @apply w-4 h-4 ml-4;
  }
}
